* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.container {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.italic {
  font-style: italic;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
  align-items: center;
  width: 100%;
  z-index: 1000;
}
header ul {
  display: flex;
  flex-direction: row;
  width: 70%;
  align-items: center;
  justify-content: space-between;
}
header li {
  list-style: none;
}
header .contact-bar {
  background-color: #000000;
  color: #cccccc;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 70%;
  height: 30px;
  margin: 3px 0;
  font-size: 14px;
}
header .contact-bar ul {
  width: 40%;
}
header .contact-bar i {
  padding-right: 7px;
  color: #009CFF;
}
@media all and (max-width: 1730px) {
  header .contact-bar {
    width: 100%;
  }
}
@media all and (max-width: 1200px) {
  header .contact-bar {
    display: none;
  }
}
header nav {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70%;
  height: 50px;
  margin: 3px 0;
}
header nav img {
  width: 100px;
}
header nav i {
  color: #cccccc;
  font-size: 12px;
}
header nav i.fa-bars {
  display: none;
  font-size: 30px;
  padding: 0 10px;
}
@media all and (max-width: 1200px) {
  header nav li:nth-child(n+3) {
    display: none;
  }
}
@media all and (max-width: 1200px) {
  header nav li i.fa-bars {
    display: inline-block;
  }
}
@media all and (max-width: 1200px) {
  header nav ul {
    width: 50%;
    justify-content: space-between;
  }
}
@media all and (max-width: 1730px) {
  header nav {
    width: 100%;
  }
}
@media all and (max-width: 1200px) {
  header nav {
    justify-content: flex-start;
  }
}

main {
  padding-top: 92px;
  background-color: #E8E8E8;
}
@media all and (max-width: 1200px) {
  main {
    padding-top: 50px;
  }
}

section, main, footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*width: 100vw;*/
}

#jumbo {
  height: calc(100vh - 92px);
  background-image: url("./../../assets/img/bg-painter-home.jpg");
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  justify-content: center;
}
#jumbo .overlay-mobile {
  display: none;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}
#jumbo .overlay-mobile h3 {
  margin-bottom: 30px;
}
#jumbo .overlay-mobile p.primo {
  font-weight: bold;
}
#jumbo .overlay-mobile .bottoni {
  margin-top: 30px;
}
#jumbo .overlay-mobile button {
  background-color: #fff;
  text-transform: uppercase;
  border: 2px solid black;
  width: 200px;
  height: 40px;
  outline: none;
}
@media all and (max-width: 768px) {
  #jumbo .overlay-mobile {
    display: flex;
    flex-direction: column;
  }
}
#jumbo .overlay-mobile .mobile-container {
  display: none;
  width: 80%;
}
@media all and (max-width: 768px) {
  #jumbo .overlay-mobile .mobile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
#jumbo .overlay-mobile img {
  filter: invert(1);
  margin-bottom: 20px;
  width: 300px;
}
#jumbo .container {
  align-self: center;
  justify-content: center;
  height: calc(100vh - 80px);
  padding-top: 50px;
}
#jumbo .container * {
  align-self: flex-start;
}
#jumbo .container img {
  width: 300px;
  margin-bottom: 30px;
}
#jumbo .container h3 {
  margin-bottom: 30px;
}
#jumbo .container p {
  color: #ff00fb;
}
#jumbo .container p.primo {
  font-weight: bold;
}
#jumbo .container .bottoni {
  margin-top: 30px;
}
#jumbo .container button {
  text-transform: uppercase;
  border: 2px solid black;
  width: 200px;
  height: 40px;
  outline: none;
}
#jumbo .container #learn-more {
  background-color: #000;
  color: #fff;
}
#jumbo .container #dld-trial {
  background-color: transparent;
  color: #000;
}
@media all and (max-width: 768px) {
  #jumbo .container {
    display: none;
  }
}
@media all and (max-width: 1200px) {
  #jumbo {
    height: calc(100vh - 50px);
    background-position: 70% center;
    background-size: cover;
  }
}

#possibilities {
  justify-content: center;
}
#possibilities .container h1 {
  font-size: 30px;
  padding: 30px 0;
}
#possibilities .container .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
#possibilities .container .row .card {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px;
}
#possibilities .container .row .card .didascalia {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20px;
  width: 80%;
  height: 200px;
}
#possibilities .container .row .card .didascalia .title {
  font-weight: bold;
}
#possibilities .container .row .card .didascalia .learn-more a {
  text-decoration: none;
  color: #009CFF;
}
#possibilities .container .row .card .didascalia .learn-more a:before {
  content: "Learn more";
}
#possibilities .container .row .card .didascalia .learn-more a:hover {
  color: red;
}
#possibilities .container .row .card .new:before {
  content: "new ";
  color: #009CFF;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
}
#possibilities .container .row .card img {
  width: 100%;
}
@media all and (max-width: 768px) {
  #possibilities .container .row .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
}
@media all and (max-width: 768px) {
  #possibilities .container .row .card {
    margin: 0;
  }
}
@media all and (max-width: 768px) {
  #possibilities .container .row {
    display: flex;
    flex-direction: column;
  }
}
@media all and (max-width: 768px) {
  #possibilities .container {
    width: 90%;
  }
}

#wall {
  padding: 50px 0;
  width: 100%;
}
#wall .container .row {
  padding: 0 15px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
#wall .container .row .wall-card {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 300px;
  position: relative;
}
#wall .container .row .wall-card button {
  width: 150px;
  background-color: white;
  color: #000000;
  height: 40px;
  text-transform: uppercase;
}
#wall .container .row .wall-card img {
  position: absolute;
  width: 70%;
}
#wall .container .row .wall-card .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}
#wall .container .row .wall-card .content p {
  font-size: 18px;
  padding: 20px 0;
}
@media all and (max-width: 768px) {
  #wall .container .row .wall-card {
    width: 100%;
  }
}
#wall .container .row:nth-child(1) .wall-card:nth-child(2) {
  background-image: url("./../../assets/img/wacom-painter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#wall .container .row:nth-child(1) .wall-card:nth-child(1) {
  background-color: #3C1567;
}
#wall .container .row:nth-child(2) .wall-card:nth-child(1) {
  background-image: url("./../../assets/img/painter-master.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#wall .container .row:nth-child(2) .wall-card:nth-child(2) {
  background-color: #3C3C3C;
}
#wall .container .row:nth-child(3) .wall-card:nth-child(2) {
  background-image: url("./../../assets/img/business-education.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#wall .container .row:nth-child(3) .wall-card:nth-child(1) {
  background-color: #0072BC;
}
@media all and (max-width: 768px) {
  #wall .container .row {
    display: flex;
    flex-direction: column;
  }
}
@media all and (max-width: 768px) {
  #wall .container .row {
    padding: 0;
  }
}
@media all and (max-width: 768px) {
  #wall .container {
    width: 90%;
  }
}

#links {
  width: 100%;
  padding-bottom: 30px;
}
#links .container {
  align-items: flex-start;
}
#links .container li {
  margin-bottom: 5px;
  list-style: none;
  font-size: 12px;
}
#links .container li:first-child {
  font-size: 16px;
  margin-bottom: 10px;
}
#links .container li a {
  text-decoration: none;
  color: #000;
}
#links .container li a:hover {
  color: red;
}
#links .container .liste {
  padding: 0 30px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media all and (max-width: 768px) {
  #links .container .liste {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
#links .container #social {
  margin-top: 30px;
  margin-left: auto;
  margin-right: 60px;
  width: 18%;
}
#links .container #social ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media all and (max-width: 768px) {
  #links .container #social ul {
    padding: 10px 30px;
    width: 100%;
    justify-content: flex-start;
  }
}
#links .container #social li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 30px;
  height: 30px;
  color: white;
  font-size: 20px;
}
#links .container #social li.instagram {
  background-color: #E4405F;
}
#links .container #social li.facebook {
  background-color: #3B5998;
}
#links .container #social li.twitter {
  background-color: #1DA1F2;
}
#links .container #social li.youtube {
  background-color: #CD201F;
}
#links .container #social li.pinterest {
  background-color: #BD081C;
}
#links .container #social li.rss {
  background-color: #FF8D00;
}
@media all and (max-width: 768px) {
  #links .container #social li {
    margin-right: 3px;
  }
}
@media all and (max-width: 768px) {
  #links .container #social {
    justify-content: flex-start;
    width: 100%;
    margin: 0;
  }
}
@media all and (max-width: 768px) {
  #links .container {
    width: 90%;
  }
}

footer {
  background-color: #1E1E1E;
  width: 100%;
  padding: 10px 0;
}
footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .container .left {
  padding: 0 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 30%;
}
footer .container .right {
  font-size: 10px;
  width: 40%;
}
footer .container .right a {
  text-decoration: none;
  color: #998A89;
}
footer .container .right ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
footer .container .right ul li {
  list-style: none;
}
footer .container .right ul li:last-child {
  color: white;
}
@media all and (max-width: 768px) {
  footer .container .right ul {
    flex-wrap: wrap;
  }
  footer .container .right li:nth-child(-n+3) {
    width: calc(100% / 3);
  }
  footer .container .right li:last-child {
    width: 100%;
  }
}
@media all and (max-width: 768px) {
  footer .container .right {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
@media all and (max-width: 768px) {
  footer .container {
    display: flex;
    flex-direction: column;
  }
  footer .container .left {
    margin-bottom: 10px;
  }
  footer .container .right, footer .container .left {
    width: 100%;
  }
}
@media all and (max-width: 768px) {
  footer .container {
    width: 90%;
  }
}
