footer {
  background-color: #1E1E1E;
  width: 100%;
  padding: 10px 0;

  .container {
    @include row-flex;
    justify-content: space-between;
    .left {
      padding: 0 30px;
      @include row-flex;
      justify-content: space-around;
      width: 30%;
      img {

      }
    }

    .right {
      font-size: 10px;
      width: 40%;
      a {
        text-decoration: none;
        color: #998A89 ;
      }
      ul {
        @include row-flex;
        justify-content: space-around;

        li {
          list-style: none;
          &:last-child {
            color: white;
          }
        }
      }
    }
  }
}