$navbar-background: #000000;
$navbar-text-color: #ffffff;
$contactbar-text-color: #cccccc;
$global-fontfamily: 'Montserrat', sans-serif;
$global-fontsize: 16px;
$header-container: 70%;
$color-pink: #ff00fb;