$navbar-background: #000000;
$navbar-text-color: #ffffff;
$contactbar-text-color: #cccccc;
$global-fontfamily: 'Montserrat', sans-serif;
$global-fontsize: 16px;
$header-container: 70%;
$color-pink: #ff00fb;
$sec-text-color: #009CFF;
$breakpoint-md: 1200px;
$breakpoint-lg: 1730px;
$breakpoint-sm: 768px;